/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
@layer components {
  .btn {
    @apply text-sm bg-neutral-950 px-3 py-1 rounded shadow text-white cursor-pointer;
  }
  .btn-lg {
    @apply text-sm bg-neutral-950 px-4 py-2 rounded shadow text-white cursor-pointer;
  }
}
