<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body
    class="h-screen flex flex-col bg-neutral-200 font-outfit overflow-y-auto"
  >
    <h1>Welcome to Inner-Circles</h1>
  </body>
</html>
